layout {
  default_tab_template {
    pane size=2 borderless=true {
      plugin location="zellij:compact-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="editor" {
    pane name="cursor" size="10%" command="~/Downloads/squashfs-root/cursor" {
      start_suspended true
      args "."
    }

    pane name="neovim" command="nvim" {
      start_suspended true
      args "."
    }
  }

  tab name="localhost" {
    pane name="foremangrok" {
      command "./foremangrok"
      start_suspended true
    }

    pane name="rails" size="10%" command="/bin/bash" {
      start_suspended true
      args "-c" "PATH=/home/fazil/.local/share/mise/installs/ruby/3.4.1/bin:$PATH bin/dev"
    }

    pane name="ngrok" size="10%" command="/usr/local/bin/ngrok" {
      start_suspended true
      args "http" "5000"
    }
  }

  tab name="test" {
    pane command="/home/fazil/.local/share/mise/installs/ruby/3.4.1/bin/ruby" {
      start_suspended true
      args "bin/rails" "test" "-v";
    }

    pane command="/home/fazil/.local/share/mise/installs/ruby/3.4.1/bin/ruby" {
      start_suspended true
      args "bin/rails" "test:system" "-v";
    }
  }

  tab name="dev" focus=true {
    pane

    pane size="10%" command="/home/fazil/.local/share/mise/installs/ruby/3.4.1/bin/ruby" {
      start_suspended true
      args "bin/rails" "console";
    }
  }

  tab name="prod" {
    pane name="dotenv kamal deploy" {
      command "bash"
      args "-c" "cd \"$(dirname \"$PWD\")/deploy.$(basename \"$PWD\")\" && exec $SHELL"
    }

    pane name="logs" command="/home/fazil/.asdf/shims/kamal" size="10%" {
      start_suspended true
      args "app" "logs" "-f";
    }

    pane name="console" command="/home/fazil/.asdf/shims/kamal" size="10%" {
      start_suspended true
      args "app" "exec" "-i" "bin/rails" "console"
    }
  }

  tab name="whetstone" split_direction="vertical" {
    pane {
      pane name="zellij editor" command="nvim" cwd="~/.config/zellij/layouts/" {
        start_suspended true;
        args "."
      }

      pane size="10%" cwd="~/.config/zellij/layouts/"
    }

    pane {
      pane name="shell editor" command="nvim" cwd="~/.oh-my-zsh/custom" {
        start_suspended true;
        args "."
      }

      pane size="10%" cwd="~/shell/"
    }
  }

  tab name="monitor" {
    pane name="htop" command="htop" {
      start_suspended true;
    }

    pane name="sensors" command="watch sensors" {
      start_suspended true;
    }
  }
}

