layout {
  default_tab_template {
    pane size=2 borderless=true {
      plugin location="zellij:compact-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="editor" {
    pane name="neovim" command="nvim" {
      args "."
    }
  }

  tab name="localhost" {
    pane split_direction="vertical" {
      pane size="50%" {
        pane size="30%" name="docker" command="/bin/bash" {
          args "-c" "docker-compose down -v --remove-orphans && docker-compose up --build"
        }
        pane name="logs" command="/bin/bash" {
          args "-c" "docker-compose logs -f rails"
        }
      }
      pane {
        pane size="10%" name="db:setup" command="/bin/bash" {
          start_suspended true
          args "-c" "docker-compose exec rails bin/rails db:setup"
        }
        pane name="console" command="/bin/bash" {
          start_suspended true
          args "-c" "docker-compose exec rails bin/rails c"
        }
      }
    }
  }

  tab name="test" {
    pane name="rspec" command="/bin/bash" {
      start_suspended true
      args "-c" "docker-compose exec -e RAILS_ENV=test rails bundle exec rspec"
    }
  }

  tab name="clai" {
    pane name="claude" command="claude"
  }

  tab name="dev" focus=true {
    pane name="shell" command="zsh"
  }

  tab name="prod" {
    pane name="console" command="/bin/bash" {
      start_suspended true
      args "-c" "doctl apps console 718b3c3c-82b1-4ec1-9aa3-af5a7d6b4f29 leadscor"
    }
    pane name="logs" command="/bin/bash" {
      start_suspended true
      args "-c" "doctl apps logs rate-my-leads -f"
    }
  }

}

